*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100%;
    background-color: #2B807B;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.centrar-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#contenedor{
    height: 220px;
    width: 450px;
    background-color: white;
    border: 5px solid rgb(2, 161, 253);
    border-radius: 10px;
}

#color{
    font-size: 70px;
    font-weight: bold;
}

button{
    font-size: 30px;
    color: white;
    border-radius: 20px;
    background-color: #008CBA;
    margin: 15px;
    padding: 10px 30px;
    border: 3px solid #008CBA;
    user-select: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover{
    background-color: #05455A;
}